<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/globals.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Home</title>
	</head>
	<body class="bg-slate-100 h-dvh">
		<div class="flex items-center justify-center h-dvh">
			<div class="bg-white w-4/12 p-16 rounded-3xl flex flex-col gap-5">
				<h1 class="font-semibold text-4xl">Get Weather</h1>
				<form
					action="/weather"
					method="POST"
					class="flex flex-col gap-4 w-full"
				>
					<div class="flex flex-col gap-2">
						<label for="zip">City Name</label>
						<input
							type="text"
							name="zip"
							id="zip"
							class="bg-[#F7FBFF] border border-[#D4D7E3] rounded-lg max-h-10 px-2 py-3 placeholder:font-extralight placeholder:text-sm"
							placeholder="i.e. Paris"
							required
						/>
					</div>
					<button
						type="submit"
						class="bg-[#1E4AE9] text-base text-white font-normal rounded-lg px-4 py-1 ml-auto mt-4 hover:animate-pulse w-fit"
					>
						Get Weather
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
